@use '../../styles/scss/variables' as *;

.header {
    position: sticky;
    top: 0;
    height: 70px;
    background: $primary-blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    .logo {
        background: $primary-white;
        height: 50px;
        padding: 5px 20px;
        border-radius: 10px;
        cursor: pointer;
        img {
            height: 100%;
        }
    }
    .nav {
        .button {
            color: $primary-white;
            cursor: pointer;
            border: 2px solid white;
            padding: 10px;
            background: $primary-blue;
            border-radius: 5px;
            &:hover {
                background: $primary-white;
                color: $primary-blue;
            }
        }
    }
}